@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Management Portal</h1>
    <p>Servicio de gerencia y administracion de personal, clientes, eventos, equipo y rentas.</p>
</div>
